<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-inner">
                    <a href="{{paths.root}}" class="header-inner__logo">Logo</a>
                    <button class="button">Book Now</button>
                </div>
            </div>
        </div>
    </div>
</header>