<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'partials/head.njk' %}
    </head>
    <body>
        {# Header #}
        {% include 'partials/header.njk' %}
        {# Main #}
        {# Body #}
        <main>
            {% block content %}{% endblock %}
        </main>
        {% include 'partials/footer.njk' %}
    </body>
</html>